*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
 
}
body{
    background-color: #D3C1C3;
    height:100vh;

   
}
nav{
    display:grid;
    justify-content: center;
    
}
.cont{
    display:grid;
    justify-content: center;
}
h2{
    background-color: #D1FFC6;
    padding:5px;
    margin:0;
    text-align: center;
}
nav img{
    width:300px;
    height:400px;
    padding:5px;


}


nav div{
    margin:5px;
    background-color: #EEE5BF;
    margin-top: 20px;
    border:3px solid cadetblue
}
nav img:hover{
cursor: pointer;
}
 i:hover{
    cursor: pointer;
    }

nav p{
    
    width:100%;
    background-color: #D1FFC6;
    color:#000;
    padding:10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.rule{
    background-color: antiquewhite;
    text-align: center;
    padding: 5px;
}
.rule i{
    font-size: large;
    background-color:red;
    padding:10px;
    border-radius: 30%;
    transition: all 0.3s linear;

}
.rule i:hover{
    background-color: aliceblue;
    font-size: larger;
}
.cover{
    position: absolute;
    top:0;
    left:0;
   height:40vh;
    overflow-y: hidden;
    width:100vw;
    
    z-index: 1;
}
.disabled{
    display:none;
}
.info{
    position:absolute;
    top:8%;
    margin-left: 30%;
    margin-right: 30%;
    z-index: 2;
    display:block;
    width:40%;
    border:3px solid yellow;
   background-color: beige;
    
}
ul li{
    list-style-type: none;
    margin:5px;
    padding:15px;
}
.info p{
    text-align: center;
    padding:5px;
}
.close{
    display:block;
    position:absolute;
    top:3%;
    right:5%;
    font-size: 2rem;
    padding:5px;
    z-index:3;
}
.close:hover{
    cursor: pointer;
}
.user,.computer{
   width:30%;
   margin-top: 10%;
   margin-left: 10%;
   margin-right: 10%;
    height:40vh;
    border:3px solid yellow;
    z-index: 10;
    /* background-color: aqua; */

}
.loadcontainer{
    width:30%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    
     
     z-index: 10;
}
.changed{
    
        position: absolute;
        top:0;
        left:0;
   
        background-color: #D3C1C3;
        width:100vw;
        
        z-index: 1;
    
}
.flex{
    display:grid;
    
    background-color:#D3C1C3;
    
}
.flex>*{
    margin:2% auto;
}
.intern{
    
    width: 100%;
    height:100%
}
.result {
    display: block;
    position: fixed; /* Use fixed instead of absolute */
    bottom: 0; /* Adjust the distance from the bottom edge */
    width: 100%;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 20px;
    z-index: 100;
    background: linear-gradient(
        #e2d0be 0%,
        #e2d0be 25%,
        #eee5bf 50%,
        #e8f8c1 75%,
        #d1ffc6 100%
    );
}
#op{
    font-weight:larger;
    font-size:2rem;
    padding-left:10px;
    padding: 2px;
    opacity:0.5;
    background-color: cyan;
    border: 1px solid black;
}
#tournament_catagorey{
  display:flex;
    width:100%;
    justify-content: center;
    
}
#tournament_catagorey p{
    margin: 0.2%;
}
#tournament{
    margin:0.2%;
}
.winner{
    display:block;
    position:absolute;
    bottom:10%;
    right:0;
    background-color: #d1ffc6;
    padding:10px;
    border:3px solid yellow;
    border-right: none;
    z-index:100;
    
}
.animein{
    animation: fadein 1s;
}
.animeout{
    animation:fadeout 1s;
}
 @keyframes fadein  {
        from{
            opacity:0
        }
        to{
            opacity:1
        }
    }
 @keyframes fadeout  {
        from{
            opacity:1
        }
        to{
            opacity:0
        }
    }

@media all and (min-width:600px){
    .flex{
        display:flex;
        justify-content: center;

    }
    .flex>*{
        margin:5%;
    }

}
@media all and (min-width:790px){
    nav{
      grid-template-columns: repeat(2,1fr);
    }
    .cont{
        grid-template-columns: repeat(2,1fr);
    }
    nav img{
        margin-left: 10%;
        margin-right: 10%;
    }
    .newPosition{
        margin-left:55%;
        width:85%;
    }
    body{
        height:100vh;
        overflow-y: hidden;
    }



}
@media all and (min-width:1000px){
    nav{
      grid-template-columns: repeat(3,1fr)
        

}
.cont{
    grid-template-columns: repeat(3,1fr)
      

}
.newPosition{
    margin:5px;
    margin-left:5px;
    margin-top: 20px;
    border:3px solid cadetblue;
    flex-grow: 1;
}
nav img{
    margin-left: 10%;
    margin-right: 10%;
}
}

#loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff; /* You can customize the background color */
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 1000;
}

#loading-gif {
  
    width: 90vh; 
    height: 90vh; 
    border-radius: 20px;
}
h2#always{
position: absolute;
top:0;
left:0;
z-index:2000;
width:100%;
}
